<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login | Mercado Liebre</title>
        <meta name="viewport" content="width = device width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel = "stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <header class="mainHeader">
            <div class="mainHeaderTop">
                
            
                <img class="logo" src="/img/logo-mercado-liebre.svg">
                <form class="buscadormain" action="action_page.php">
                    <input class="buscador" type="text" placeholder="Buscar productos, marcas" name="search">
                    <button class= "boton-buscador" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <h2 class= "copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>

            <button type="button" class="btn btn-primary hamburger-button">
                <i class="fas fa-bars"></i>
            </button>

            <nav class="main-navbar">
                    <ul class="navbarI">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>

                    <ul class="navbarD">
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                
                    
                
            </nav>
            
        </header>
    <form class="loginformulario" action="login" method="GET">
        <input class="nombredeusuario" type="text" name="usuario" placeholder="Nombre de usuario" required minlength="6">
        <input class="contraseña"  type="password" name="contraseña" placeholder="Contraseña" required minlength="6">
        <button type="submit" class="btn btn-primary btn-lg botonlogin">Enviar</button>
    </form>
    
    <footer>
        <div class="footer">
            <div class="foot">
                <i class="fas fa-credit-card"></i>
                <h3><b>Pagá con tarjeta o efectivo</b></h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="foot">
                <i class="fas fa-gift"></i>
                <h3><b>Envío gratis desde $ 2.500</b></h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="foot">
                <i class="fas fa-user-shield"></i>
                <h3><b>Seguridad, de principio a fin</b></h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        
            <h3><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></h3>
        
    </footer>
    </body>
</html>